mat-card {
  margin-top: 2rem;
  margin-left: 2rem;
  min-width: 450px;
  max-width: 80%;
  background-color: #ecf0f1;
}

mat-panel-title {
  font-weight: 500;
}

mat-icon {
  padding-top: 0.25rem;
}

.container {
  margin-top: 1rem;
}

.admin-avail {
  padding-top: 0.5rem;
}

.address-title {
  margin-right: 1rem;
  width: 50%;
  text-align: right;
}

.footer {
  padding: 0 0.5rem;
}

span {
  font-weight: 500;
}
