<div class="main" fxLayout fxLayoutAlign="center center">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout fxLayoutAlign="center center">
        <div>
          <h2>Login</h2>
        </div>
        <div>
          <mat-icon>lock_open</mat-icon>
        </div>
      </div>
      <div>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(loginForm)"
          novalidate
        >
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
              <input
                matInput
                placeholder="Enter your email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="f.email.invalid">
                {{ getEmailErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Enter your password"
                formControlName="password"
                type="password"
              />
              <mat-error *ngIf="f.password.invalid">
                {{ getPasswordErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <button
              type="submit"
              value="Submit"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
