#prBar {
  padding: 0 3rem;
}

mat-card {
  margin: 1rem 1rem;
}

mat-accordion {
  display: block;
  margin-top: 1rem;
}

mat-progress-bar {
  margin: 0.2rem 2rem 2rem 2rem;
}

mat-card-actions {
  margin-top: 2rem;
}

mat-form-field {
  width: 100%;
}

#checkbox-group {
  margin: 1rem 0rem;
}
